*{
  padding: 0;
  margin: 0;
}
/* body{
  background: linear-gradient(90deg, rgba(11,11,122,1) 2%, rgba(20,104,159,1) 52%, rgba(11,11,122,1) 100%);
} */
.navbar-z{
  z-index: 999999 !important;
}
.main_div{
  width: 100%;
  display: inline-block;
}
.card_container{
  width: 80%;
}
/* footer span{
  color: #fff;
} */
.offcanvas-body{
  background: linear-gradient(#000000,#000000);
}
.profile{
  border-radius: 100%;
  overflow: hidden;
  border: 5px dotted goldenrod;
  width: 40%;
  height: 150px;
  margin: auto;
}
.info{
  width: 100%;
  margin: auto;
  padding-top: 3rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.follow{
  margin: 0;
}
ul{
  list-style-type: none;
}
li{
  display: inline;
  margin-right: 5px;
}
/* a{
  color: rgba(233, 221, 221, 0.884) !important;
} */
header.masthead {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bolder;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px; */
  }
  a{
    font-weight: 700;
    padding-right: 20px;
    text-decoration: none;
  }
  .card {
    transition: all .3s ease-in-out;
  }
  .card:hover {
    box-shadow: -3px 3px rgb(211, 210, 210),-6px 6px rgb(170, 170, 170),-9px 9px rgb(139, 139, 139);
    transform: translateY(-10px);
  }
  h2{
    padding: 10px;
  }
  iframe{
    position: relative;
    padding: 30px;
    margin: auto;
    height: 107vh;
  }
  @media (max-width: 3000px ) and (min-width: 1000px ){
    iframe{
      height: 500px;
    }
  }
  @media (max-width: 1000px ) and (min-width: 680px ){
    iframe{
      height: 293px;
    }
  }
  @media (max-width: 680px ) and (min-width: 360px ){
    iframe{
      height: 200px;
    }
  }
  @media (max-width: 575px ) and (min-width: 355px ){
    iframe{
      height: 253px;
    }
  }
  @media (max-width: 355px ) and (min-width: 250px ){
    iframe{
      height: 155px;
    }
  }
  @media (max-width: 250px ) and (min-width: 0px ){
    iframe{
      height: 115px;
    }
  }
  .text{
    width: 100%;
    text-align: justify;
  }
  .about_text{
    font-weight: 600;
    font-size: larger;
  }
  /* .button{
    color: #fff !important;
  } */
  .scroll{
    height: 650px;
    overflow-y: scroll;
  }
  .card-title{
    text-decoration: none;
    color: black !important;
  }
  
  .banner
  {
    /* background: linear-gradient(to right,rgba(0,0,0,0.4),rgba(255, 255, 255, 0.2),rgba(0,0,0,0.4)) ,url("../img/about/banner.png"); */
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/cover/computer_networking.jpg");
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 200px 00px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ring{
    position: absolute;
    width: 300px;
    transform: translate(-50%, 0);
  }
  .ring img{
    width: 100%;
    transition: 2s;
    animation: O_O 20s infinite linear;
  }
  @keyframes O_O {
    50%{transform: rotateZ(180deg);}
    100%{transform: rotateZ(360deg);}
  }
  .overlay{
    position: relative;
    z-index: 99 !important;
    width: 30%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/cover/computer_networking.jpg');
    background-position: right;
    padding: 20px 10px;
    text-align: center;
    border: 2px solid rgb(175, 171, 171);
  }
  @media (max-width: 650px ){
    .overlay{
      width: 80%;
    }
  }
  @media (max-width: 650px ){
    .masthead-heading{
      line-height: normal;
      font-size: medium;
    }
  }
  
  .feedback_container{
    width: 40%;
    margin: auto;
  }
  @media (max-width: 575px ) and (min-width: 0px ){
    .feedback_container{
      width: 80%;
    }
  }
  @media (max-width: 575px ) and (min-width: 0px ){
    .cot{
      width: 100%;
    }
  }
  .blog_container{
    width: 100%;
  }
  li{
    padding: 0px !important;
  }
  ul{
    padding: 0px !important;
  }
  .about_bg
  {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/cover/computer_networking.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: flex;
  }
  @media (max-width: 575px){
    .adj{
      width: 100%;
    }
  }
  a{
    text-decoration: none !important;
  }